* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"] {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #fff;
}

form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0099ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #0077cc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #444;
}
